*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*! color: #299519; */
}
body{
  background: rgb(22, 27, 46,255);
  user-select: none;

  background: #D9EEE1 !important;
  overflow-x: hidden;
}
body::before{
	content: "";
	background: #282A35;
	/*! opacity: 0.8; */
	width: 100%;
	height: 500px;
	position: absolute;
	z-index: -3;
	top: 0;
	left: 0;
	/*! overflow: hidden; */
	overscroll-behavior-x: none;
}
#issue{
	
}

#header_container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	position: sticky;
	top: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background: #D9EEE1;
	z-index: 10;
}
#header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	color: white;
	/*! height: 50px; */
	align-items: center;
	margin: auto 15px;
	overflow: hidden;
	transform: translateY(-38px);
	z-index: 10;
}
#header2{
	transition: 1s;
	position: relative;
}
#header_container2{
	display: none;
}
#header_container::before {
  content: "";
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  background: #D9EEE1 !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: none;
}

#header #logo{
	display: none;
}
#header #logo_name{
	color: #059862 !important;
	font-size: 30px;
	font-weight: 700;
	position: relative;
	top: -2px;
/* 	display: none; */
}
#header #logo_name img{
	width: 130px;
	transform: translateY(14px);
}
#header #nav{
	
  display: flex;
  align-items: center;
}
#header #nav ul{
	display: flex;
	flex-direction: row;
	list-style: none
}
#header #nav ul li{

}
#header #nav ul li a{
	text-decoration: none;
	padding: 5px 18px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border-radius: 20px;
	margin: 0 0.1rem;
	color: rgba(0,0,0,0.8);
	font-family: 'Josefin Sans', sans-serif;
}
#header .active_nav{
	/*! border-bottom: 1px solid black; */
}
#header #nav ul li a:hover{
	color: white;
	background: #059862;
}
#header #login{

}
#header #login button{

  padding: 5px 25px;
  font-size: 16px;
  border: none;
  border-radius: 22px;
  /*! box-shadow: 2px 5px 30px gray,3px -6px 28px #a5a5ac; */
  color: black;
  background: #059862;
  color: wheat;
}
#header #login button:hover{
  background: #1e805c;
  color: white;
}

/*svg design*/

#corner1{
	position: relative;
	width: ;
	height: ;
	z-index: -2;
	margin-top: -462px;
	bottom: -435px;
}
#corner1 path{

}

#middle{
	position: relative;
	width: 75%;
	z-index: -2;
	top: -250px;
	right: -100px;
}
#middle path{

}
#corner2{
	position: relative;
	z-index: -2;
	/*! top: -21%; */
/*! display: none; */
	/*! border: 10px solid green; */
	right: -59%;
	margin-top: -6%;
	width: 75%;
	display: none;
}
#corner2 path{

}
/*
#middle_path2{
	visibility: hidden;
}*/

#welcome_text{
	font-family: 'PT Serif', serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 415px;
	font-size: 1.5rem;
	position: relative;
	z-index: -2;
	color: white;
	/*! overflow: hidden; */
	margin-top: -720px;
	overflow: hidden;
	/*! display: none; */
}
#welcome_text > div:nth-of-type(1){

  font-size: 22px;
  position: relative;
  left: -116px;
  margin: 5px;
}
#welcome_text > div:nth-of-type(2){
	
  font-size: 45px;
  font-weight: bold;
  position: relative;
  right: -57px;
  font-family: 'PT Serif', serif;
}
#welcome_text > div:nth-of-type(2) span{
	
  color: gold;
}
#header_support{
	z-index: -1;
	position: relative;
}



/*hankers*/

#hanker{

}
#flash{

  position: relative;
  text-align: center;
  top: -53px;
  z-index: -1;
}
#flash svg{
	
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
  border: 3px solid blue;
  /*! background: linear-gradient(45deg,#e3d1d1,#c1acb9 17%,#c3b0d2 34%,#b96868 51%,#553795 68%,#bfa8a8 85%,#bfaecc); */
  animation: progress-animation 2s linear infinite;
  background-size: 200px 100px;
  /*! opacity: 0.7; */
  background: white;
  z-index: -2;
  position: relative;
}

#wavepath{
  
}

/*############# profile section #############*/

#profile_container::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 822px;
	background: url('icon/bg.jpg ') no-repeat center center/cover;
	z-index: -2;
	opacity: 0.5;
	/*! filter: grayscale(NaN%); */
	/*! top: 0; */
	margin-bottom: -206px;
	/*! overflow: hidden; */
	display: none;
}

#profile_container{
	width: 100%;
	/*! height: 550px; */
	/*! background: linear-gradient(45deg,#1a1a1a,#222,#1b1b1b); */
	/*! opacity: 0.5; */
	display: flex;
	align-items: center;
	justify-content: center;
	/*! z-index: -2; */
	position: relative;
}
#profile{

	padding: 55px;
	display: flex;
	justify-content: space-between;
	border-color: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
	/*! background: #a1a1db; */
	position: relative;
	top: -13px;
	z-index: -2;
}

.boxx{
	height: 200px;
	width: 200px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	position: relative;
	border-radius: 15px;
	z-index: -2;
}
.boxx::before{
	content: "";
	position: absolute;
	background: linear-gradient(purple,blue);
	height: 300px;
	width: 100px;
	animation: box_animate 4s linear infinite;
	z-index: -1;
}
.boxx::after{
	content: "";
	position: absolute;
	/*! background: #519271; */
	inset:5px;
	border-radius: 10px;
}
#boxx_con{
	height: 40%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes box_animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

#welcome_text::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#002233; 
	clip-path: circle(20% at 100% 50%);
	z-index: -1;
}
#profile_container::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*! background:linear-gradient(blue, #f0f); */
	/*! clip-path: circle(16.02% at 0.68% 34.17%); */
	z-index: -1;
	/*! background: linear-gradient(#9ae3ff, #7400ff); */
	clip-path: circle(25% at -10% 50%);
	display: none;
}



#profile_border{
	width: 80%;
	max-width: 820px;
	z-index: 1;
}
 .profile_border{
    /*display: block;*/
    /*height: 100%;*/
    background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
    z-index: -2;
	position: relative;
}
    
@keyframes progress-animation{
  0%{
    background-position: 100%;
}
  100%{
    background-position: 0
}
}



#profile_pic{
height: 190px;
width: 190px;
border-radius: 10px;
}
#profile_pic img{
	
  width: 18rem;
  height: 18rem;
}
#profile_info{

  /*! width: 300px; */
  /*! display: flex; */
  /*! flex-direction: row-reverse; */
  /*! margin-left: auto; */
  /*! padding: 28px; */
}
#text{
  color: black;
}
#text p:nth-of-type(1){
  font-weight: bold;
  /*! margin: 5px 0; */
  color: black;
  font-size: 2rem;
}
#text p:nth-of-type(2){
 font-size: 2rem;
	color: #1e805c;
	font-weight: bold;
 margin: 8px;
 margin-left: 0;
 font-family: 'Pacifico', cursive;
}
#text p:nth-of-type(3){
  color:rgba(0,0,0,0.5);
  margin-bottom: 21px;
}
#text a{
	background: #1e805c;
	padding: 8px 10px;
	margin-bottom: -10px;
	text-decoration: none;
	color: white;
}
#social_media{

  padding: 35px 0px;
}
#social_media img,#social_media svg{
	width: 30px;
	background: white;
	border-radius: 50%;
	margin: 0 auto;
	margin-right: 10px;
}

/*learning section*/

#main_container{
	display: flex;
}
#circle_skill{
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 12px;
}
#circle_skill h2{
  margin: 10px;
}
.inner span{
	font-size: 2.4rem;
	color: rgba(0,0,0,0.6)
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #D1D5EC;
  overflow: hidden;
}
.circle.per-75 {
  background-image: conic-gradient(#2064CE 75%, #110D0BC4 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #D1D5EC;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  /*! color: rgba(255, 255, 255, 0.75); */
}


#skills_container{

  width: 100%;
  /*! height: 500px; */
  background: #D1D5EC;
  /*! opacity: 0.5; */
  padding: 2%;
  border-top-left-radius: 51%;
  margin-top: -30%;
  z-index: -3;
}
#skills_container > div:nth-of-type(1){

  font-size: 2rem;
  margin: 20px;
  color: #059862;
  font-weight: bold;
  top: -15px;
  margin-top: -15px;
  font-family: 'Chakra Petch', sans-serif;
  /*! margin-left: 52%; */
  text-align: center;
}
#list_container{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  margin-left: 65px;
}
#list{

  /*! background: #a1a1db; */
  /*! width: 30%; */
  /*! height: 140px; */
  margin: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*! box-shadow: 1px 10px 10px rgba(0,0,0,0.25),2px 10px 20px rgba(0,0,0,0.15); */
  /*! background: #D9EEE1; */
}
#list img{

  width: 50px;
  padding-right: 12px;
  margin-right: 8px;
}
#progress{

  height: 21px;
  width: 22vw;
  box-shadow: 1px 10px 10px rgba(0,0,0,0.25),2px 10px 20px rgba(0,0,0,0.25);
  border-radius: 5px;
}
#progress div{
	
  background:linear-gradient(90deg,#331e33,#449797);
  width: 70%;
  height: 100%;
  border-radius: 5px;
  padding-left: 15px;
  color: white;
}

#learning_support{
	position: relative;
	/*! bottom: -356px; */
	z-index: -2;
	/*! background-size: 1000px 200px; */
	/*! background-position: 100px 400px; */
	margin-top: -90px;
}
#learning_support2{
	position: relative;
	bottom: 5px;
	z-index: -2;
}

/*services section*/ 


.tools{
 display: flex;

}
.tools:nth-of-type(n){

	/*! margin: 10px 10%; */
}
.tool{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 35px;
}
.tool img{

	width: 100px;
	height: 100px;
	margin: 20px;
}
.tool h1{

	font-size: 1.5rem;
	text-align: center;
}
#explore{
	background: #1e805c;
	padding: 8px 30px;
	margin-bottom: -10px;
	text-decoration: none;
	color: white;

	text-align: center;
}


#services_container{
  padding: 6%;
  background: #dbe5f2;
  /*display: none;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
#service_text{

  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  /*! margin: 25px; */
  /*! margin-top: -10px; */
  color: #059862;
}
#services_container > div:nth-of-type(2){
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*! margin: 20px; */
}
.service_list i{
	height: 100px;
	width: 100px; 
}
.service_list{
	width: 30%;
	/*! background: #BBC2E6; */
	/*! padding: 20px 32px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*! box-shadow: 1px 10px 10px rgba(0,0,0,0.25),2px 10px 20px rgba(0,0,0,0.25); */
	/*! width: 32vw; */
	/*! height: 32vw; */
	/*! border-radius: 52%; */
	padding: 2%;
}
.service_list:hover{
  box-shadow: 1px 10px 10px rgba(0,0,0,0.25),2px 10px 20px rgba(0,0,0,0.25);
  
}
.service_list h2{

  color: #4f75bf;
  font-family: 'Chakra Petch', sans-serif;
}
.service_list svg{
  width: 50px;
  margin: 15px;
}
.service_list:nth-of-type(2) svg{
  width: 70px;
  margin: 15px;
}
.service_list svg path{
	
}

.service_list div{

  text-align: justify;
  color: #404753;
  margin: 15px 35px;
 }
.service_list button{
  margin: 7% auto 0 auto;
  padding: 7px 23px;
  background: #4f75bf;
  color: black;
  border: none;
  cursor: pointer;
}
.service_list button:hover{
  background: #059862;
}

/*blog section*/

#blog_section{

  /*! background: #0c1b2d; */
  /*padding: 27px 2.2%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#blog_section > div:nth-of-type(1){

  color: #059862;
  font-size: 2rem;
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
  font-family: 'Chakra Petch', sans-serif;
}
#blog_container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 30px 0;

  /*! z-index: -1; */
}
.card{
	position: relative;
	min-width: 280px;
	height: 397px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
				inset -5px -5px 5px rgba(255,255,255,0.5),
				5px 5px 5px rgba(0,0,0,0.05),
				-5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
	margin: 30px;
	z-index: 1;
}
.box{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.box img{
  height: 115px;
width: 170px;
}
.box h2{
	/*! font-size: 1.5em; */
	color: #464444;
	transition: 0.5s;
	margin: 10px;
}
.box div{
	font-size: 1em;
	color: #777;
	transition: 0.5s;
}
.box a{
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	background: #1e805c;
	margin-top: 14px;
	border-radius: 20px;
	text-decoration: none;
	color: white;
}
.content{
	padding: 15px;
	text-align: center;
}

.card:hover a{
	background: #145b77;
}
.card:hover .box{
	transform: translateY(-30px);
}



/*comment section*/

#comment_container{

  padding: 5%;
  background: #d9d9ff;
  	/*background: url('icon/internet.jpg ') no-repeat center center/cover;*/
}
#comment_text{

  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  color: #059862;
  font-family: 'Chakra Petch', sans-serif;
}
#comment{

  /*! width: 80%; */
  /*! background: #d0adad; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.comment_list{

  /*! margin: 20px 15px; */
  /*! background: aliceblue; */
  padding: 10px 20px;
  text-align: center;
  /*! padding: 70px 54px; */
  display: none;
}
.comment_list img{

  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.comment{

  color: #21242d;
  margin: 17px;
}
.name{
	color:rgba(36, 31, 31, 0.5);
}
.active_comment{
    display: block;
}






/*contact and footer*/


#contact_container::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 535px;
	background: url('icon/internet.jpg ') no-repeat center center/cover;
	z-index: -1;
	opacity: 0.06;
	/*! filter: grayscale(NaN%); */
	/*! top: 0; */
	margin-top: -41px;
}
/*#contact_container::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 497px;
	background: url('icon/system.jpg ') no-repeat center center/cover;
	z-index: -1;
	opacity: 0.1;
	filter: grayscale();
	top: 0;
	mix-blend-mode: normal;
}*/
#contact_container{
	background: linear-gradient(transparent,#b7d7ea);
	padding-top: 38px;
	display: flex;
	/*! flex-direction: row-reverse; */
/*	background: url('icon/internet.jpg ') no-repeat center center/cover;*/
	margin-bottom: -10px;
	justify-content: center;
}

#contact{

  display: flex;
  /*! flex-wrap: wrap; */
  background: #0f0f2b;
  padding: 34px 10px;
}
#contact_1 p:nth-child(1){
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #ff5c36;
}
#contact_1 img{
  width: 400px;
  margin: 10px 20px;
  display: none;
}

#contact_1 {
  /*! margin: 10px 30px 10px 10px; */
  /*! padding: 50px 22px; */
  /*! border-top-right-radius: 50%; */
  /*! border-bottom-right-radius: 50%; */
  /*! background: #1c1c37; */
  /*! width: 395px; */
  /*! padding-bottom: 0px; */
  display: none;
}
.contact{

  /*! border: 1px solid green; */
  width: 45%;
}
#contact_2 > p:nth-child(1){
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 54px;
  margin-right: 65px;
  color: #1a0a70;
  font-family: 'Chakra Petch', sans-serif;
}
#contact_2{
  /*! margin-left: 15%; */
  padding-top: 30px;
  /*! margin: 0 auto; */
  /*! padding-left: 10%; */
  /*! height: 400px; */
  color: black;
  /*! box-shadow: 3px 4px 15px rgba(0,0,0,0.4); */
}
form p {
  margin: 20px 5px;
  color: black;
}
form p:nth-of-type(1) input{
  margin-left: 35px;
}
form p:nth-of-type(2) input{
  margin-left: 35px;
}
form p:nth-of-type(3){
  display: flex;
  align-items: center;
}
form input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #899299;
  margin-left: 14px;
  color: rgba(0,0,0,0.5);
  width: 75%;
  text-align: center;
}
#message{
  resize: none;
  width: 75%;
  height: 87px;
  margin-left: 16px;
  background: transparent;
  color: black;
  border: 1px solid #899299;
  padding: 10px;
}
#send{
  height: 32px;
  width: 75px;
  margin: 20px;
  padding: 7px 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: #2a52c8;
  float: right;
}


/* fppter sectopm */

#main_footer{
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1),3px 3px 10px rgba(0,0,0,0.5);
  position:relative;
   bottom:-8px;
  padding: 13px 0;
	background: #282A35;
}
#main_footer > div{
  /*! width: 60%; */
   margin: 0 auto;
  padding: 5px;
}
#footer{
  display: flex;
  justify-content: center;
  margin: 12px;
  /*! width: 610px; */
  /*! border: 1px solid; */
}
#pmf{
  font-size: 1.5rem;
  font-weight: bold;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.7);
}
#pmf img{
  width: 20px;
}
#pmf img:nth-child(1){
  margin-left: 10px;
}

#vertical{
  width: 15%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#vertical div{
	width: 1px;
	height: 35px;
	border-left: 1px solid #737373;
}
#link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*! font-size: ; */
  align-items: center;
  width: 33%;
}
#link div a{
	color: rgba(255,255,255,0.7);
}
#link div a:hover{
	color: rgba(0,255,0,0.3);
}
#copyright{
  text-align: center;
  margin-bottom: 12px;
  color: rgba(255,255,255,0.6);
}
#link div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 45px;
  line-height: 22px;
}
#link div:nth-child(1) {
  margin: 0;
}





/*#for mobile phones*/


@media(max-width:890px){
	#progress{
		width:18vw;
	}
		#middle{
		width: 85vw;
	}
}
@media(max-width:770px){
	#progress{
    width: 30vw;
	}
	#list_container{
		justify-content: center;
	}
	#learning_support2 {
	height: 100vw;
}
	#main_container{
		margin-top: -80%
	}
	#skills_container > div:nth-of-type(1){
		top: -73vw;
		position: relative;
	}
	#profile{
		padding: 0
	}
	#vertical{
		width: 10%;
	}
	#welcome_text{
		height: 350px;
	}
	#contact_1{
		display: none;
	}
	#contact_container{
		justify-content: center;
	}

}
@media(max-width:700px){
	#header #logo{
		display: block;
		position: relative;
		top: 16px;
	}
	#header #logo_name img{
  transform: translateY(-26px);
	}
	#header{
/* 		transform: translateX(-100px); */
			transform: translateY(0px);
	}
	#header #nav{
		display: none;
	}
	#header div:nth-of-type(1){
		display: flex;
	}
	#header #login{
		  transform: translateY(-36px);
	}
	
}
@media(max-width:600px){
	#header_container2{
		display: block;
	}
		#header_container{
/* 		display: none; */
/*       width: 1px; */
	}
	#header2 #logo_name img{
		width: 100px;
		transform: translateY(-80px)
	}
	#header2{
		display: flex;
		flex-direction: column;
		width: 56%;
		background: white;
		height: 100vh;
		position: fixed;
		z-index: 100;
		top:0;
		background:#D9EEE1;
		box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
		margin-left: -80%;
	}
	#header2 #nav li a{
/* 		padding: 31px; */
		text-decoration: none;
		font-weight: bold;
		color: #192a4a;
	}
		#header2 #nav li{
		padding: 10px 10px 10px 35px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#header2 #nav li:nth-of-type(1){
		border-top: 1px solid rgba(0,0,0,0.1);
	
	}
		#header2 #logo{
			padding: 20px;
			display: flex;
			justify-content: right;
	}
	#header2 #nav{
		margin-top:-109px;
	}
	#header2 #menu{
		display: none;
	}
	#header2 #cross{
		width:16px;
/* 		display: none; */
		margin-right: 8px;
	}
	
/* 	common ended */
	#footer{
		flex-direction: column;
		justify-content: center;
	}
	#footer div{
		width: 100%;
	}
	#vertical div{
		border-bottom: 1px solid rgba(255,255,255,0.4);
		height: 1px;
		width: 50%;
		border-left: none;
		margin: 20px;
	}
	#link{
		margin: 20px 0;
	}
	#link div{
		justify-content: center;
		align-items: center;
		margin-left: 12px;
	}
	#corner1{
		width: 110%;
		transform: translateY(-30px)
	}
	#middle{
		width: 100%;
		transform: translateX(-90px);
	}
	#services_container > div:nth-of-type(2){
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
		#profile{
		flex-wrap: wrap;
		justify-content: center;
			align-items: center;
	}
	#text{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 50px 10px;
	}
	#main_container{
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
		#circle_skill{
		margin-top: 30px;
	}
	#progress{
		width: 50vw;
	}
	#list_container{
		margin-left: 40px;
	}
		#skills_container{
		border-top-left-radius:0
	}
	#contact_container{
		flex-wrap: wrap;
	}
		#welcome_text > div:nth-of-type(1){
  position: static;
			font-size: 1.2rem;
	}
			#welcome_text > div:nth-of-type(2){
  position: static;
	font-size:2.3rem;
	text-align: center;
	margin: 0 10px;
	}
	
	}
@media(max-width:450px){
	#welcome_text{
		height: 300px
	}
	body::before {
  content: "";
  background: #282A35;
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  overscroll-behavior-x: none;
}
	#explore{
		margin-bottom: 20px;
	}
	#boxx_con{
		width: 90%;
	}
	#text p{
		text-align: center;
	}
	#skills_container > div:nth-of-type(1){
		margin-top: 20px
	}
  #welcome_text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #002233;
  clip-path: circle(20% at 100% 22%);
  z-index: -1;
}

}
@media(max-width:380px){
	#middle{
		width: 120vw;
	}
	#corner1{
		transform: translateY(-80px)
	}
	#text{
		margin-bottom: 0px;
	}
	#header2{
		width: 70%;
	}
}
@media(max-width:325px){
	#header_support{
/* 		transform: translateY(-40px); */
		margin-top:-40px;
	}
	.box{
  top:15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
	}
	.card{
		min-width: 250px;
		height: 380px;
	}
}
 
